<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <div class="inner">
      <div class="actions-bar">
        <%= render "search_bar" %>
      </div>
      <% if @mth_rpt.present? %>
        <%= render "mth_report" %>
      <% else %>
        <table class="table">
          <tr>
            <td>
              <span class="error">未查询到报表数据!</span>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
