<tfoot>
  <tr>
    <td></td>
    <td>合计:</td>
    <td></td>
    <td><%= collection.to_a.sum(&:sum_fee_type_9) %></td>
    <td><%= collection.to_a.sum(&:sum_fee_type_1) %></td>
    <td><%= collection.to_a.sum(&:sum_fee) %></td>
    <td></td>
    <td></td>
  </tr>
</tfoot>
